@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Path: guard-twinflow\src\app\about\about.component.html */   

/* remove the default padding and margin from the top-level HTML element */ 
html, body, app-root {
  padding: 0;
  margin: 0;
    overflow: hidden;
}


.is-paddingless-horizontal { padding-left: 0; padding-right: 0; }


.grid {
    display: grid;
    grid-template-columns: 
    [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * { grid-column: md; }
.grid-xl * { grid-column: xl; }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
